@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactModal__Overlay {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  @apply z-50;
  @apply flex;
  @apply items-center;
  @apply justify-center;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  opacity: 0.3;
  transition: opacity 200ms ease-in-out;
  @apply rounded;
  @apply bg-base-300;
  @apply p-4;
}

.ReactModal__Content--after-open {
  opacity: 1;
}

.ReactModal__Content--before-close {
  opacity: 0.3;
}
